.fixed_headers {
  background-color: aqua;
  margin: auto;
  table-layout: fixed;
  border-collapse: collapse;
}
.scrollable{
  width: auto;
  max-height: 130px;
  overflow-y: auto;
}
thead {
  background-color: #333;
  color:#FDFDFD;
  tr {
    display: block;
    position: relative;
  }
}

h3.subtitle{
  text-decoration: underline;
  font-size: 28px;
  margin: 0;
}

.mainContainer{
  margin-top: 40px;
  text-align: center;
  height: 800px;
  width: 700px;
  background-color:aliceblue;
  border-color:#333;
  border-style: solid;
}
