
.searchBox {
    position:flex ;
    background: #2f3640;
    height: 35px;
    border-radius: 40px;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
    padding: 10px;
    min-width: 0;

}
.rowC{display:flex; flex-direction:row;}
.columnC{
    margin-top: 50px;
    position:absolute;
}
.resultLine{
    border-radius: 40px;
    display:block;
    width:305px;
    color: azure;
    padding: 1px;
}

.resultLine:hover{
    background-color: aqua;
    color: greenyellow;
}
.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchButton:hover {
  background: white;
  color : #2f3640;
}

.searchButton {
    color: white;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 35px;
    width: 0px;

}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
.searchBox:first > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}