.mainCard{
    background-color:green;
     height:250px;
     width:500px;
}
.a {
  width : 100px;
  height : 100px;
}
.swiper {
  width: 100%;
  height: 100%;
}


.swiper {
  width:150%;
  margin-left: auto;
  margin-right: auto;
}


:root {
  --body-bg-color: #e5f4f9;
  --body-color-light: #8b939c;
  --body-font: "Roboto", sans-serif;
  --page-bg-color: #f2f5f7;
  --body-color: #3d4954;
  --border-color: #b8bec3;
  --placeholder: #ccd0d2;
 }
 
 
 
 swiper-slide {
   text-align: center;
   font-size: 18px;
   background: #fff;
   width: 100%;
   /* Center slide text vertically */
   display: flex;
   justify-content: center;
   align-items: center;
 }
 
 .swiper-slide img {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 
 
 
 /* styles.css */
 
 
   .book-slide {
     width: 100%;
   }
   
   .book {
     background: #fff;
   }
   
   .book-cell {
     padding: 25px;
     width: 40%;
     height: 250px;
     margin-right: 1px;
   }
   
 
   .book-photo {
     width: 180px;
     flex-shrink: 0;
     bottom: -35px;
     left: 35px;
     border-radius: 2px;
     box-shadow: -2px 6px 19px 0px #7f818e;
     transition: .3s ease;
   }
   
   .book-photo:hover {
     transform: scale(1.03);
   }
   
   .book-img {
     flex-shrink: 0;
   }
   
   .book-title {
     text-transform: uppercase;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
     color: #ffffff;
     font-weight: 600;
   }
   
   .book-author {
     margin-top: 3px;
     font-size: 14px;
     text-overflow: ellipsis;
     white-space: nowrap;
     overflow: hidden;
   }
   
   .book-content {
     position: absolute;
     left:200px;
     top:25px;
     padding: 0 20px;
     color: #ffffff;
     overflow: hidden;
   }
   
   fieldset,
   label {
     margin: 0;
     padding: 0;
     display: inline-block;
     vertical-align: middle;
   }
   
 
   
   .book-sum {
     margin-top: 20px;
     font-size: 18px;
     overflow: hidden;
     display: -webkit-box;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
   }
   
   .book-see {
     margin-top: 25px;
     text-align: center;
     background-color: #fff;
     color: #fbadaf;
     font-weight: 600;
     padding: 8px;
     font-size: 14px;
     width: 160px;
     border-radius: 20px;
   }
   
   .book-see:hover {
     color: #ff6e72;
   }
   
   .book-see.book-blue {
     color: #a4e0eb;
   }
   
   
   .main-wrapper {
     width: 100%;
     display: flex;
     flex-grow: 1;
     margin-top: 100px;
     overflow: hidden;
   }
   
   
   @media (max-width: 1103px) {
     .book-cell {
       width: 60%;
     }
   }
   
   @media (max-width: 765px) {
     .book-cell {
       width: 80%;
     }
   }
   
   @media (max-width: 575px) {
     .book-cell {
       width: 100%;
     }
   }
   
   @media (max-width: 458px) {
     .book-photo {
       width: 180px;
     }
   }
   
   @media (max-width: 420px) {
     .book-photo {
       width: 130px;
     }
 
   }
   
 