html {
  scroll-behavior: smooth;
}
.nav-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: -2px 0 18px -1px rgba(0,0,0,0.2);
    z-index: 10;
    height: 80px;
    line-height: 40px;
    padding: 20px 0;
    background-color: #fff;
  }
  .circle {
    z-index: 10;
    position: absolute;
    top:3px;
    right: 0;
    border-radius: 50%;
    width: 17px;
    height: 17px;
    padding: 4;
    background-color:#a4e0eb;
    border: 1px solid #000;
    color: #000;
    text-align: center;
    font: 14px Arial, sans-serif;
  }
  .inner-nav-container {
    height: 100%;
    overflow: hidden;
  }
  .nav-flip {
    position: absolute;
    height: 100%;
    left: 40px;
    right: 125px;
    overflow: hidden;
    border-right: 1px solid #e6e6e6;
  }
  .nav-flip .logo {
    left: calc(50% + 20px);
  }
  .nav-flip.top {
    top: 0;
    padding-right: 8px;
  }
  .nav-flip.top.active {
    top: -100%;
  }
  .nav-flip.bottom {
    top: 100%;
  }
  .nav-flip.bottom.bottom.active {
    top: 0;
  }
  .logo {
    padding: 0 10px;
    color: #d1d1d1;
    font-size: 12px;
    font-family: 'Comfortaa', Helvetica, sans-serif;
    cursor: default;
  }
  .logo.link {
    cursor: pointer;
  }
  .logo.link:hover {
    color: #333;
  }
  .ui-icon {
    cursor: pointer;
  }
  .ui-icon:hover .button-svg,
  .ui-icon.active .button-svg {
    stroke: #333;
  }

  .icon-split {
    vertical-align: middle;
    height: 40px;
    width: 1px;
    background-color: #e6e6e6;
    margin: 0 5px 0 8px;
  }
  .button-svg {
    transition: 0s;
    vertical-align: middle;
    height: 35px;
    stroke: #d1d1d1;
    stroke-width: 3;
    stroke-linecap: round;
    fill: none;
  }  
  .nav-bar.shifted {
    left: 300px;
  }

  .navbar_img{
    position:absolute;
    right:10px;
    top:0px;
    height: 40px;
    z-index: 100000;
    background-color: #fff;
    overflow: visible;
  }

   @media screen and (max-width: 350px) {
.logo{
  font-size: 13px;
}}
@media screen and (max-width: 550px) {
  .logo{
    font-size: 24px;
  }}
@media screen and (min-width: 550px) {
  .logo{
    font-size: 32px;
  }
}