.menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #e6e6e6;
    text-align: center;
    padding: 20px;
  }

  .block {
    box-sizing: border-box;
    display: block;
    position: relative;
    padding: 5px;
    font-size: 28px;
  }

  .block:hover{
    color:cadetblue;
    text-decoration: underline;
  }